.list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.button {
  border: transparent;
  padding: 5px 4px;
  border-radius: 10px;
  background-color: rgba(204, 104, 23, 0.623);
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  width: 70px;
}
.button:hover {
  background-color: rgba(204, 104, 23, 0.836);
  scale: 1.05;
  color: aliceblue;
}
